<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board-Mapper">
	<select id="selectBoardList" resultType="board">
		select * from board
	</select>
	<select id="selectBoardByCategory" parameterType="str" resultType="board">
		select * from board
		where category=#{category}
	</select>
	<select id="selectBoardById" parameterType="str"
		resultType="board">
		select * from board
		where boardid=#{boardid}
	</select>
	<insert id="insertBoard" parameterType="board">
		insert into
		board(boardid, thumnail, title, content, boarddate, updatedate, likecount,
		viewcount,
		isnotice, isdelete, tableid, username, category, state, QAcontent )
		values(#{boardid}, #{thumnail}, #{title}, #{content}, #{boarddate}, #{updatedate},
		#{likecount}, #{viewcount}, #{isnotice}, #{isdelete}, #{tableid},
		#{username}, #{category}, #{state}, #{QAcontent})
	</insert>
	<update id="updateBoard" parameterType="board">
		update board
		set
		thumnail=#{thumnail}, title=#{title}, content=#{content}, updatedate=#{updatedate},
		likecount=#{likecount}, viewcount=#{viewcount}, isnotice=#{isnotice},
		isdelete=#{isdelete}
		where boardid = #{boardid} and tableid = #{tableid}
	</update>
	<delete id="deleteBoard" parameterType="str">
		delete from board
		where boardid = #{boardid}
	</delete>
</mapper>