<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="CommentTable-Mapper">
  	<select id="selectCommentList" resultType="comment">
  		select * from commenttable
  	</select>
  	<select id="selectCommentById" resultType="comment">
  		select * from commenttable
  		where username=#{username}
  	</select>
  	<insert id="insertComment" parameterType="comment">
  		insert into
  		commenttable(commentid, boardid, commenttext, commentdate, username, isdelete)
  		values(#{commentid}, #{boardid}, #{commenttext}, #{commentdate}, #{username}, #{isdelete})
  	</insert>
  	<update id="updateComment" parameterType="comment">
  		update commenttable
  		set
  		commenttext=#{commenttext}, isdelete=#{isdelete}
  		where commentid=#{commentid} and boardid=#{boardid}
  	</update>
  	<delete id="deleteComment" parameterType="str">
  		delete from commenttable
  		where commentid=#{commentid} and boardid=#{boardid}
  	</delete>
  </mapper>